@import url('https://fonts.googleapis.com/css?family=Raleway@display=swap');

body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5em;
    margin: 0;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login {
    width: 450px;
    height: 610px;
    background: rgba(255, 249, 186, 0.9);
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login span:nth-of-type(1){
    font-weight: 500;
    font-size: 45px;
    line-height: 50px;
    color: #FF9500;
    font-weight: bold;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

.login input {
    width: 80%;
    height: 65px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 6.66666%;
    margin-top: 5%;
}

.login input::placeholder {
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    color: #FF9500;
}

.login input:hover {
    border: 1px solid #FF9500;
    border-radius: 20px;
    box-shadow: 0 0 5px #FF9500;
}

.login input:focus {
    outline: none;
}

.login input::placeholder {
    opacity: 1;
    transition: 0.3s;
}

.login input:focus::placeholder {
    opacity: 0;
    visibility: hidden;
}

button {
    width: 155px;
    height: 50px;
    font-size: 15px;
    font-weight: 500;
    background: #FFBD60;
    box-shadow: 0px 5px 10px 5px rgba(255, 189, 96, 0.45);
    border-radius: 30px;
    border: none;
    margin-top: 12%;
    margin-bottom: 15%;
    color: #FFFFFF;
}

button:focus {
    outline: none;
}

button:hover {
    background:#FF9500;
}

a {
    text-decoration: none;
    color: #FF7A00;
}

a:hover {
    text-decoration: underline;
}

.login span:nth-of-type(2),
.login span:nth-of-type(3) {
    font-size: 15px;
    font-weight: normal;
    line-height: 18px;
    margin-top: 20px;
}